.clear::after {
  content: "";
  display: table;
  clear: both;
}

.clear::after {
  content: "";
  display: table;
  clear: both;
}

.float-r {
  float: right;
}

.f1 {
  float: left;
}

.img {
  vertical-align: middle;
  border: none;
}

.m-icons {
  display: inline-block;
  background: url(https://shop.io.mi-img.com/static/h5/static3/media/yp-icons.2bf57ccf.png);
}

body {
  font-size: 14px;
}

.underline {
  border-bottom: 1px solid #eee;
}

.m-icons-check {
  width: 18px;
  height: 18px;
  background-position: 0 -490px;
}

.container {
  width: 1080px;
  margin: 0 auto;
}
.container .navigator {
  padding: 30px 0;
  width: 100%;
  display: block;
  float: none;
  background: transparent repeat 0 0 none;
  font-size: 13px;
}
.container .navigator span:first-child a {
  margin-left: 0;
}
.container .navigator span::after {
  content: '>';
}
.container .navigator span a {
  margin: 0 6px;
  cursor: pointer;
  color: #000;
}
.container .navigator span:last-child a {
  color: #999;
  cursor: default;
}
.container .navigator span:last-child::after {
  content: "";
}

.no-good-container {
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
}

.e-img {
  background-image: url(https://shop.io.mi-img.com/static/h5/static3/media/no-cart.c8984abd.png);
  width: 153px;
  height: 132px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 100%;
  background-origin: center center;
}

.e-info {
  margin-top: 24px;
  color: #333;
  text-align: center;
}

.btn-wrap {
  text-align: center;
  margin-top: 21px;
}

.m-btn-gray {
  color: #666;
  border: 1px solid #666;
}

.m-btn-default {
  min-width: 97px;
  height: 43px;
  line-height: 41px;
  font-size: 18px;
}

.m-btns {
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  box-sizing: border-box;
  padding: 0 6px;
  transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
}

.cart-list {
  padding-bottom: 100px;
}

.title {
  height: 42px;
  line-height: 40px;
  background-color: #fafafa;
  color: #999;
  margin-bottom: 3px;
}
.title .all-txt {
  width: 130px;
}
.title span {
  display: inline-block;
  vertical-align: middle;
}
.title .product {
  width: 325px;
}
.title .price {
  width: 205px;
}
.title .num {
  width: 193px;
}
.title .total {
  width: 124px;
}

.select-icon {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  margin-left: 7px;
  margin-right: 20px;
  vertical-align: middle;
  margin-top: -5px;
}

.m-icons-check-active {
  width: 18px;
  height: 18px;
  background-position: 0 -402px;
}

.m-icons-check {
  width: 18px;
  height: 18px;
  background-position: 0 -490px;
}

.good-list {
  padding-bottom: 100px;
}

.list-info {
  padding-top: 47px;
  padding-bottom: 17px;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.name {
  margin-left: 10px;
  cursor: pointer;
  flex: 1 1 0%;
}

.posting {
  box-sizing: border-box;
  margin-right: 5px;
  display: inline-block;
  border: 1px solid #999;
  width: 17px;
  height: 17px;
  padding-left: 6px;
  border-radius: 50%;
}

.good-item-container {
  border-bottom: 1px solid #e7e7e7;
}
.good-item-container .cart-good-item .select {
  width: 45px;
}
.good-item-container .cart-good-item .image {
  float: left;
  height: 142px;
  position: relative;
  width: 120px;
  cursor: pointer;
}
.good-item-container .cart-good-item .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  vertical-align: middle;
  border: none;
}
.good-item-container .cart-good-item .select, .good-item-container .cart-good-item .num, .good-item-container .cart-good-item .price, .good-item-container .cart-good-item .subtotal, .good-item-container .cart-good-item .del {
  padding: 35px 0;
  height: 72px;
  line-height: 72px;
}
.good-item-container .cart-good-item .name {
  box-sizing: border-box;
  width: 330px;
  padding: 27px 90px 27px 5px;
  height: 142px;
  line-height: 88px;
  cursor: pointer;
}
.good-item-container .cart-good-item .name .vertical-wrap {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
}
.good-item-container .cart-good-item .price {
  width: 215px;
  text-align: left;
}
.good-item-container .cart-good-item .num {
  width: 205px;
}
.good-item-container .cart-good-item .num-reduce-add {
  margin-left: -55px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  height: 32px;
  border: 1px solid #b3b3b3;
  overflow: hidden;
}
.good-item-container .cart-good-item .num-reduce-add .minus-plus {
  float: left;
  width: 30px;
  height: 30px;
}
.good-item-container .cart-good-item .txt {
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  float: left;
  height: 30px;
  line-height: 30px;
}
.good-item-container .cart-good-item .del {
  text-align: right;
}
.good-item-container .cart-good-item .del .icon {
  display: inline-block;
  width: 13px;
  height: 13px;
}

.m-icons-reduce {
  width: 30px;
  height: 30px;
  background-position: 0 -1390px;
}

.m-icons-add-active {
  width: 30px;
  height: 30px;
  background-position: 0 -1050px;
}

.subtotal {
  width: 130px;
  text-align: left;
  color: #c00000;
}

.m-icons-close-hover {
  background-position: 0 -119px;
}

.cart-total {
  position: relative;
  margin-bottom: 160px;
  background-color: #fafafa;
  font-size: 18px;
  width: 1080px;
  height: 80px;
  z-index: 98;
}
.cart-total .ico {
  font-size: 18px;
  padding: 25px 0;
  height: 30px;
  line-height: 30px;
}
.cart-total .already-select {
  margin-left: 20px;
}
.cart-total .no-reduce {
  height: 55px;
  padding-top: 25px;
}
.cart-total .totol-price-con {
  position: absolute;
  right: 230px;
  bottom: 0;
  font-size: 12px;
  color: #999;
}
.cart-total .total-after-prefer {
  width: 200px;
  color: #c00000;
  font-size: 20px;
}
.cart-total .total-after-prefer span {
  color: #333;
}
.cart-total .checkout {
  margin-top: -.5px;
  float: right;
  width: 200px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #a9010d;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
}

.fixed-to-bottom {
  position: fixed;
  margin-bottom: 0;
  bottom: 0;
  box-shadow: 0 -3px 10px #eee;
}

.server {
  background-position: 0 -1628px;
}

.download {
  background-position: 0 -1254px;
}

.newpeople {
  background-position: 0 -778px;
}

.wechat {
  background-position: 0 -982px;
}

.return {
  background-position: 0 -1288px;
}

/*# sourceMappingURL=cart.css.map */
