@charset "utf-8";
#header{
    border-bottom: 1px solid #eee!important;
}
@import 'mixin';
body{
    font-size: 14px;
    color: #333;
}
.detail{
    min-height: 285px;
    padding-top: 60px;
    padding-bottom: 100px;
    overflow: hidden;
    border-top: 1px solid #e7e7e7;
    .container{
        position: relative;
        width: 1080px;
        margin: 0 auto;
    }
}
// 放置图片的盒子
.de-banner{
    margin-right: 46px;
    width: 465px;
    height: 433px;
   
    // 大图
    .bigpic{
        width: 366px;
        height: 431px;
        background-color: #f4f4f4;
        border: 1px solid #ececec;
        position: relative;
        overflow: hidden;
    }
    // 小图
    .smallpic{
        display: block;
        width: 85px;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .sma-container{
        position: absolute;
        top:0;
        .small-pic{
            width: 83px;
            height: 98px;
            margin-bottom: 11px;
            border-width: 1px;
            border-style: solid;
            background-color: #f4f4f4; 
            img{
                display: block;
                width: 100%;
                height: 100%;
            }
        }

    }
    
}
// 放置右边的盒子
//  第一层
.name{
    overflow: unset;
    margin-bottom: 4px;
    .goodname{
        vertical-align: middle;
        line-height: 26px;
        font-size: 20px;
        color: #333;
    }
}
// 详情
.summary{
    // width: 84%;
    line-height: 18px;
    font-size: 12px;
    color: #999;
}
// 促销
.promotion{
    margin-top: 16px;
    .pro-title{
        color: #999;
        font-size: 12px;
        line-height: 18px;
        margin-top: 4px;  
    }
    .pro-main{
        .pro-info{
            margin: 2px 0 4px 34px;
            span{
                 display: inline-block;
                vertical-align: middle;
            }
            .gift-type{
                margin-top: 3px;
                padding: 0 5px;
                height: 18px;
                line-height: 18px;
                text-align: center;
                border: 1px solid #c00002;
                color: #c00000;
                margin-right: 6px;
                font-size: 12px;
                cursor: pointer;
            }
            .gift-text{
                color: #333;
                font-size: 12px;
            }
        }
        
    }
}
    // 售价
    .card{
        margin-bottom: 26px;
        margin-top: 18px;
        padding: 10px;
        background-color: #f9f9f9;
        .price-line{
            margin-top: 12px;
            margin-bottom: 12px;
            height: 37px;
            overflow: hidden;
            vertical-align: bottom;
            line-height: 40px;
            font-size: 30px;
        }
        
    }
    
    .price{
        color: #c00000;
        line-height: 30px;
        overflow: hidden;
        .money-symbol{
            // margin-right: 3px;
            font-size: 14px;
            vertical-align: 0;
        }
        .value{
            font-size: 30px;
            vertical-align: 0;
        }
     
    }
    .sku-title{
        margin-right: 10px;
        width: 48px;
        float: left;
        font-size: 12px;
        font-weight: 400;
        line-height: 32px;
        vertical-align: bottom;
    }
    // 服务
    .introduce-container{
        position: relative;
        overflow: visible;
        margin-left: -30px;
        cursor: pointer;
        .icon{
            box-sizing: border-box;
            margin-top: 9px;
            border: 1px solid #c00000;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            line-height: 12px;
            text-align: center;
            font-size: 10px;
            color: #c00000;
            margin-left: -30px;
            cursor: pointer;
        }

    }

    // 服务具体介绍
    .service{
        overflow: hidden;
        .server-item{
            float: left;
            overflow: hidden;
            min-height: 24px;
            margin-right: 13px;
            line-height: 24px;
            font-size: 16px;
            .m-icons-service {
                width: 16px;
                height: 16px;
                background-position: 0 -215px;
            }
            .m-icons {
                display: inline-block;
                background-image: url(https://shop.io.mi-img.com/static/h5/static3/media/yp-icons.2bf57ccf.png);
            }
        }
    }
    // <!-- 地址配送                        -->
    .address-line {
        overflow: hidden;
        padding: 0 10px 26px;
        .sku-title{
            line-height: 14px;
        }
        .address {
            font-size: 14px;
            float: left;
            line-height: 14px;
            margin-right: 10px;
            font-weight: 400;
            a {
                margin-left: 10px;
                color: #666;
            }

        }
    }
    // <!-- 配送颜色                     -->
.size-line {
        size-container {
        margin-bottom: -14px;
        float: left;
        width: 473px;
        overflow: hidden;
    }
    .size-container {
        .tag-item-onSaled {
                border: 1px solid #d6d6d6;
                float: left;
                margin-right: 14px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding: 4px 20px;
                color: #333;
                line-height: 22px;
                font-size: 14px;
                margin-bottom: 14px;
                text-align: left;
        }
        .tag-item-offSaled {
            border: 1px dashed #d6d6d6;
            float: left;
            margin-right: 14px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 4px 20px;
            color: #333;
            line-height: 22px;
            font-size: 14px;
            margin-bottom: 14px;
            text-align: left;
        }
    }
}
//    <!-- 立即购买，加入购物车 -->
.count-container{
    .minus-btn {
        float: left;
        width: 34px;
        height: 30px;
        border: 1px solid #d6d6d6;
        line-height: 28px;
        text-align: center;
        color: #d6d6d6;
    }
    .m-icons-reduce {
        width: 30px;
        height: 30px;
        background-position: 0 -1390px;
    }
    .count-input{
            float: left;
            width: 60px;
            height: 30px;
            padding: 0;
            border: 1px solid #d6d6d6;
            border-left-width: 0;
            border-right-width: 0;
            text-align: center;
            font-weight: 700;
            font-size: 14px;
            color: #333;
            outline: none;

    }
}
.count-line {
    overflow: hidden;
    margin-bottom: 40px;
}
// 
.btn-line{
    height: 52px;
    overflow: hidden;
    .buy-btn-container {
        float: left;
        overflow: hidden;
        a{
            margin-right: 15px;
        }
        .m-btn-brown-stroke {
            color: #845f3f;
            border-color: #845f3f;
        }
        .m-btn-middle {
            min-width: 167px;
            // height: 52px;
            line-height: 50px;
            font-size: 20px;
        }
        .m-btns {
            display: inline-block;
            border-radius: 2px;
            text-align: center;
            border: 1px solid #666;
            padding: 0 6px;
            transition: all .5s cubic-bezier(0,1,.5,1);
        }
        .m-btn-brown {
            color: #fff;
            background-color: #845f3f;
            border-color: #845f3f;
        }
    }
    //  收藏
    .favor-btn{
       width: 50px;
       height: 50px;
       font-size: 12px;
       line-height: 12px;
       text-align: center;
       border: 1px solid #ccc;
       border-radius: 2px;
       margin-left: 15px;
        .m-icons-collection-checked {
            width: 30px;
            height: 30px;
            background-position: 0 -1730px;
        }   
        .m-icons-service-detail {
            width: 30px;
            height: 30px;
            background-position: 0 -1560px;
        }
    }
}
 

