@charset "utf-8";
.wrap{
    width: 1080px; 
    margin: 0 auto;
}
a{
    text-decoration: none;
}
body{
    font-size: 14px;
    color: #333333;
}
@import "mixin";
@import "header";
@import "nav";
@import "main";
@import "footer";
